<!DOCTYPE html>
<html>

<head>

    <title>Diensthandys</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>📱 Tablets</h1>

        <table>

            <tr>
                <th>Inventarnummer</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Status</th>
            </tr>

            {% for tablet in tablets %}

            <tr>
                <td>{{ tablet[0] }}</td>
                <td>{{ tablet[1] }}</td>
                <td>{{ tablet[2] }}</td>
                <td>{{ tablet[3] }}</td>
            </tr>

            {% endfor %}

        </table>

        <br><br>

        <p><a href="/assets/mobile">📱 Mobile Geräte</a></p>

        <p><a href="/assets">📦 Assets</a></p>

        <p><a href="/">🏠 Dashboard</a></p>

    </div>

</body>

</html>