<!DOCTYPE html>
<html>

<head>

    <title>Scanner</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>📷 Kameras</h1>

        <table>

            <tr>
                <th>Inventarnummer</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Status</th>
            </tr>

            {% for eintrag in scanner %}

            <tr>
                <td>{{ eintrag[0] }}</td>
                <td>{{ eintrag[1] }}</td>
                <td>{{ eintrag[2] }}</td>
                <td>{{ eintrag[3] }}</td>
            </tr>

            {% endfor %}

        </table>

        <br><br>

        <p><a href="/assets/peripherie">🖨️ Peripherie</a></p>

        <p><a href="/assets"> 📦 Assets</a></p>

        <p><a href="/">🏠 Dashboard</a></p>

    </div>

</body>

</html>