<!DOCTYPE html>
<html>

<head>

    <title>Laptops</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <table>

            <tr>
                <th>Inventarnummer</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Status</th>
            </tr>

            {% for laptop in laptops %}

            <tr>

                <td>{{ laptop[0] }}</td>
                <td>{{ laptop[1] }}</td>
                <td>{{ laptop[2] }}</td>
                <td>{{ laptop[3] }}</td>

            </tr>

            {% endfor %}

        </table>

        <br><br>

    </div>

</body>

</html>

