<!DOCTYPE html>
<html>
<head>
    <title>Mitarbeiter</title>
</head>
<body>

<h1>Alle Mitarbeiter</h1>
<p>Anzahl Mitarbeiter: {{ anzahl }}</p>
{% if mitarbeiter %}

<table border="1">

    <tr>
        <th>Nr.</th>
        <th>Name</th>
        <th>Abteilung</th>
    </tr>

    {% for m in mitarbeiter %}

    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ m[1] }}</td>
        <td>{{ m[2] }}</td>
    </tr>

    {% endfor %}

</table>

{% else %}

<p>Keine Mitarbeiter vorhanden.</p>

{% endif %}

<p><a href="/mitarbeiter">Zurück zu Mitarbeitern</a></p>

</body>
</html>