<!DOCTYPE html>
<html>

<head>

    <title>Monitore</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
    <div class="container">

        <table>

            <tr>
                <th>Inventarnummer</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Status</th>
            </tr>

            {% for monitor in monitore %}

            <tr>
                <td>{{ monitor[0] }}</td>
                <td>{{ monitor[1] }}</td>
                <td>{{ monitor[2] }}</td>
                <td>{{ monitor[3] }}</td>
            </tr>

            {% endfor %}

        </table>

        <br><br>

        <p><a href="/assets/peripherie">🖨️ Peripherie</a></p>

        <p><a href="/assets"> 📦 Assets</a></p>

        <p><a href="/">🏠 Dashboard</a></p>

    </div>

</body>

</html>