<!DOCTYPE html>
<html>

<head>

    <title>Switches</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
    <link rel="stylesheet>

    <div class="container">

        <h1>🌐 Switches</h1>

        <table>

            <tr>
                <th>Inventarnummer</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Status</th>
            </tr>

            {% for switch in switches %}

            <tr>
                <td>{{ switch[0] }}</td>
                <td>{{ switch[1] }}</td>
                <td>{{ switch[2] }}</td>
                <td>{{ switch[3] }}</td>
            </tr>

            {% endfor %}

        </table>

        <br><br>

        <p><a href="/assets/switches">🖨️ Switches</a></p>

        <p><a href="/assets">📦 Assets</a></p>

        <p><a href="/">🏠 Dashboard</a></p>

    </div>

</body>

</html>